<section>
  <h3 id="research">Research</h3>

   <div class="research-list">

    <div class="list">
      <p><b>Projects</b></p>
      <ol style="list-style-type:decimal;">
      <li> Bayeisan causal inference on multivariate time series</li>
      <li> Dynamic generalize extreme value model<p>{% bibliography %}</p></li> 
      <ol>

    
      <!-- <p>{% bibliography %}</p> -->
    </div>
   
    <div class:list>
      <p><b>Academic activities</p></b>
      <ol style="list-style-type:square;">
        <li>Workshop on "statistical, mathematical and computational methods for astronomy (ASTRO)", SAMSI, NC, August 22-26, 2016</li>
        <li>Joint Statistical Meeting, Chicago, August, 2016</li>
        <li>ICSA applied statistics symposium, June 12-15, Atlanta, 2016</li>
        <li>Invited talk on "Bayesian causal inference on multivariate time series", Maxpoint Inc., Morrisville, NC, March, 2016</li>
        <li>Graduate student research symposium, the Graduate School, NC State University, March, 2016</li>
      <ol>
     </div>  

</section>
