<section class="alt-section">
  <h3 id="teaching">Teaching</h3>

  <div class="teaching-list">

    <div class="course">
      <p><b>Courses</b></p>
      <ul style="list-style-type:square;">
      <li><a href="http://www.stat.ncsu.edu/courses/course.php?id=ST555" target="_blank">ST555 - SAS programming I</a>,  Department of Statistics, NCSU<p>2014 Summer I; <!-- a href="courses/st555/2014fall/index.html" target="_blank" -->2014 Fall<!-- /a -->; 2015 Spring</b></li>
      <li><a href=" http://www.stat.ncsu.edu/courses/course.php?id=ST512" target="_blank">ST512 - Experimental statistics for biological sciences II </a>, Department of Statistics, NCSU<p>2015 Fall; 2016 Spring</li>
      <li><a href="http://www.stat.ncsu.edu/courses/grad_special_topics/s2016/ST590_griffith.php" target="_blank">ST590 - Statistical practice</a>, Department of Statistics, NCSU<p>2016 Spring</li>
    </ul>
    </div>

    
    <div class="course">
      <p><b>Teaching portfolio</b></p>
      <ul style="list-style-type:square;">
      <li><a href="assets/files/teaching/Teaching-philosophy-BoNing.pdf" target="_blank">Teaching philosophy</a> (updated 2016)</li>
      <li><a href="assets/files/teaching/Teaching-portfolio-BoNing.pdf" target="_blank">Teaching portfolio</a> (see <a href="assets/files/teaching/BoNing-CoATProject-Feedback.pdf" target="_blank">feedbacks</a> from the Graduate School) (updated 2016)</li>
     </ul>
    </div>

    <div class="course">
      <p><b>Trainings and awards</b></p>
      <ul style="list-style-type:square;">
      <li><a href="https://grad.ncsu.edu/students/professional-development/coat/" target="_blank">Certificate of accomplishment in teaching</a> (CoAT), the Graduate School, NCSU, 2016
      <li>Outstanding teaching assistant award for excellence in mentorship, University Graduate Student Association, NCSU, 2015
      <li>Outstanding teaching assistant award, Department of Statistics, NCSU, 2015
      <li>Graduate student summer teaching institute, NCSU, June 9-11, 2014</li>
      </ul>
    </div>


    </div>
  </div>
</section>
